{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
	<script>
		let newsletter = false
function displayText() {
let text = document.getElementById('newsletter__text')
newsletter = ! newsletter
if (newsletter === true) {
console.log(text)
text.style.display = 'inline'

} else {
console.log('false')
text.style.display = 'none'
}
}
	</script>
{% endblock %}

{% block title %}Your Profile!
{% endblock %}

{% block body %}

	{% set logged = true %}
	{% if logged == true %}
		<a class="logout" href={{ path('login')}}>Log Out</a>
	{% endif %}


	<main class="profile">
		<h1>{{ controller_name }}</h1>
		{# Your Profile #}
		<form class="profile__form">
			<div>
				<label for="nickname">Nickname</label>
				<input type="text" id="nickname" name="nickname">
			</div>
			<div>
				<label for="firstname">First Name</label>
				<input type="text" id="firstname" name="firstname">
			</div>
			<div>
				<label for="lastname">Last Name</label>
				<input type="text" id="lastname" name="lastname">
			</div>
			<div>
				<label for="email">Email</label>
				<input type="email" id="email" name="email">
			</div>
			<div>
				<label for="phone">Phone</label>
				<input type="tel" id="phone" name="phone">
			</div>
			<div>
				<label for="newsletter">Newsletter</label>
				<input type="checkbox" name="newsletter" id="newsletter" onchange="displayText()">
				<span id="newsletter__text">You wil now receive updates about our services !</span>
			</div>
			<input type="button" value="Save Changes" class="profile__btn" onclick="alert('Changes have been saved !')">
		</form>
	</main>


{% endblock %}

