{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}


{% block title %}Your Profile!
{% endblock %}

{% block body %}
    <main class="profile">
		<h1>{{ controller_name }}</h1>
	</main>


{% endblock %}

