body {
    background-color: #ff583348;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    font-family: 'Poppins';
    width: 33%;
    min-width: 360px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ff5833;
    font-size: 24px;
    padding: 3rem 0 0.5rem 0;
    margin: 0;
}

.login__details {
    color: #8E8E8E;
    font-size: 12px;
}